.Rproj.user
.Rhistory
.RData
.Ruserdata
figures/Alameda_trace.pdf
figures/Amador_trace.pdf
figures/Butte_trace.pdf
figures/Calaveras_trace.pdf
figures/California_trace.pdf
figures/Colusa_trace.pdf
figures/Contra Costa_trace.pdf
figures/Del Norte_trace.pdf
figures/El Dorado_trace.pdf
figures/Fresno_trace.pdf
figures/Glenn_trace.pdf
figures/Humboldt_trace.pdf
figures/Imperial_trace.pdf
figures/Inyo_trace.pdf
figures/Kern_trace.pdf
figures/Kings_trace.pdf
figures/Lake_trace.pdf
figures/Lassen_trace.pdf
figures/Los Angeles_trace.pdf
figures/Madera_trace.pdf
figures/Marin_trace.pdf
figures/Mariposa_trace.pdf
figures/Mendocino_trace.pdf
figures/Merced_trace.pdf
figures/Modoc_trace.pdf
figures/Mono_trace.pdf
figures/Monterey_trace.pdf
figures/Napa_trace.pdf
figures/Nevada_trace.pdf
figures/Orange_trace.pdf
figures/Placer_trace.pdf
figures/Plumas_trace.pdf
figures/Riverside_trace.pdf
figures/Sacramento_trace.pdf
figures/San Benito_trace.pdf
figures/San Bernardino_trace.pdf
figures/San Diego_trace.pdf
figures/San Francisco_trace.pdf
figures/San Joaquin_trace.pdf
figures/San Luis Obispo_trace.pdf
figures/San Mateo_trace.pdf
figures/Santa Barbara_trace.pdf
figures/Santa Clara_trace.pdf
figures/Santa Cruz_trace.pdf
figures/Shasta_trace.pdf
figures/Siskiyou_trace.pdf
figures/Solano_trace.pdf
figures/Sonoma_trace.pdf
figures/Stanislaus_trace.pdf
figures/Sutter_trace.pdf
figures/Tehama_trace.pdf
figures/Trinity_trace.pdf
figures/Tulare_trace.pdf
figures/Tuolumne_trace.pdf
figures/Ventura_trace.pdf
figures/Yolo_trace.pdf
figures/Yuba_trace.pdf
.DS_Store
CA_rt_estimates.Rproj
